
@{
    Layout = null;
}

@* Bootstrap özelliklerinden yararlanabilmek için aşağıdaki satırın eklenmesi gerekiyor. Projenin sunum katmanı içinde bulunan content klasörü içerisinde bootstrap.min.css sürüklenip buraya bırakılarak projeye dahil edilir. *@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 


<h3>MVC Kamp Tablo Örneği - Kategori</h3>
<br />
<table class="table table-bordered">  @*class bootstrap içerisinde tanımlanmiş bir classtır. Örnek tablo yapısı olarak bordered kullandık farklı yapılar da kullanabilirdik. *@
    <tr>
        <th>Kategory ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Spor</td>
        <td>Açıklama Bekleniyor</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button> @*buton için de bootstrap içinde buluna nhazır classlardan yararlanıldı. btn yazip btn- yapılınca birçok seçenek karşımıza çıkar.*@
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>
